* {
    box-sizing: border-box;
}

:root {
    --main-dark-color: #222;
    --main-light-color: #ccc;
    --special-color: #00B0FF;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    text-align: center;
}

.label {
    display: block;
    position: relative;
    margin: 20px 0;
    padding: 10px 0;
    background-color: transparent;
    color: var(--main-light-color);
    border-bottom: 2px solid var(--main-light-color);
    transition: .2s;
}

.section input {
    width: 90%;
    padding: 5px 10px;
    font-size: 1em;
    border: 0;
    background-color: transparent;
    color: var(--main-light-color);
    outline: 0;
}

.label.focus {
    border-bottom: 2px solid var(--special-color);
}

.section h5 {
    margin: 0;
    position: absolute;
    margin: 5px;
    left: 10%;
    transition: .2s;
}

.label.focus h5 {
    transform: translateY(-30px);
}

.label .fas {
    transition: .2s;
}

.label.focus .fas {
    color: var(--special-color);
}

.img {
    width: 100px;
}

.section-login input[type="submit"] {
    display: block;
    margin: 30px auto 10px;
    border: 0;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--special-color);
    color: var(--main-light-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: .2s;
}

.section-login input[type="submit"]:hover {
    border: 0;
    color: var(--main-dark-color);
    transform: scale(.9);
}

.forgot {
    font-size: 0.8em;
    color: var(--main-light-color);
    text-decoration: none;
    transition: .2s;
}

.forgot:hover {
    color: var(--special-color);
    transform: scale(.9);
}