* {
    box-sizing: border-box;
}

:root {
    --main-dark-color: #222;
    --main-light-color: #ccc;
    --special-color: #00B0FF;
    --error-color: #EA2027;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    position: relative;
    text-align: center;
    background-color: var(--main-light-color);
    padding: 50px 30px;
    border-radius: 20px;
    z-index: 10;
}

.img {
    width: 100px;
}

.section-register,
.guardian {
    display: none;
}

.form-row {
    display: block;
    position: relative;
    margin: 15px 0;
    padding: 10px 0;
    background-color: transparent;
    color: var(--main-dark-color);
    border-bottom: 2px solid var(--main-dark-color);
    transition: .2s;
}

.form-row::before, .form-row::after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: var(--special-color);
	transition: .4s;
}

.form-row::before{
	right: 50%;
}

.form-row::after{
	left: 50%;
}

.form-row.focus::before, .form-row.focus::after{
	width: 40%;
}

.section .input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    padding-left: 40px;
    font-size: 1em;
    border: 0;
    background-color: transparent;
    color: var(--main-dark-color);
    outline: 0;
}

.section .input-big {
    height: 40px;
}

.section .input-radio {
    width: 40%;
    display: inline-block;
    opacity: 0;
    padding-left: 10px;
}

.form-row.focus .input-radio {
    opacity: 1;
}

.section h5 {
    margin: 5px 10px;
    position: absolute;
    text-align: left;
    width: 90%;
    left: 10%;
    transition: .2s;
    cursor: text;
}

.form-row.focus h5 {
    transform: translateY(-30px) scale(.8);
}

.form-row .fas,
.form-row .far {
    position: absolute;
    top: 17px;
    transition: .2s;
}

.form-row .fas {
    left: 10px;
}

.form-row.focus .fas {
    color: var(--special-color);
}

.form-row .far.fa-eye {
    position: absolute;
    cursor: pointer;
    right: 10px;
}

.form-row .far.fa-eye:hover {
    color: var(--special-color);
    transform: scale(1.2);
}

.submit {
    display: block;
    margin: 10px auto;
    border: 0;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--special-color);
    color: var(--main-dark-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: .2s;
}

.submit:hover {
    border: 0;
    color: var(--main-light-color);
    transform: scale(.9);
}

.forgot, .door-handle {
    font-size: 0.8em;
    color: var(--main-dark-color);
    text-decoration: none;
    transition: .2s;
}

.forgot:hover {
    color: var(--special-color);
}

.door {
    width: 250px;
    height: 300px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--special-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(15%, -50%);
    z-index: 0;
    transition: all .4s;
}

.door.login  {
    transform: translate(-105%, -50%);
}

.door .door-handle {
    text-transform: uppercase;
    font-weight: bold;
}

.form-row.error-field::before,
.form-row.error-field::after {
    width: 40%;
    background-color: var(--error-color);
}