* {
    box-sizing: border-box;
}

:root {
    --main-dark-color: #222;
    --main-light-color: #ccc;
    --special-color: #00B0FF;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    position: relative;
    text-align: center;
    background-color: var(--main-light-color);
    padding: 50px 30px;
    border-radius: 20px;
    z-index: 10;
}

.img {
    width: 100px;
}

.section-register {
    display: none;
}

.label {
    display: block;
    position: relative;
    margin: 20px 0;
    padding: 10px 0;
    background-color: transparent;
    color: var(--main-dark-color);
    border-bottom: 2px solid var(--main-dark-color);
    transition: .2s;
}

.label::before, .label::after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: var(--special-color);
	transition: .4s;
}

.label::before{
	right: 50%;
}

.label::after{
	left: 50%;
}

.label.focus:before, .label.focus:after{
	width: 40%;
}

.section .input {
    width: 90%;
    padding: 5px 10px;
    font-size: 1em;
    border: 0;
    background-color: transparent;
    color: var(--main-dark-color);
    outline: 0;
}

.section h5 {
    margin: 0;
    position: absolute;
    margin: 5px;
    left: 10%;
    transition: .2s;
    cursor: text;
}

.label.focus h5 {
    transform: translateY(-30px) scale(.8);
}

.label .fas,
.label .far {
    transition: .2s;
}

.label.focus .fas {
    color: var(--special-color);
}

.label .far.fa-eye {
    position: absolute;
    cursor: pointer;
    right: 10px;
    margin: 7px 0;
}

.label .far.fa-eye:hover {
    color: var(--special-color);
    transform: scale(1.2);
}

.submit {
    display: block;
    margin: 20px auto 10px;
    border: 0;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--special-color);
    color: var(--main-dark-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: .2s;
}

.submit:hover {
    border: 0;
    color: var(--main-light-color);
    transform: scale(.9);
}

.forgot, .door-handle {
    font-size: 0.8em;
    color: var(--main-dark-color);
    text-decoration: none;
    transition: .2s;
}

.forgot:hover {
    color: var(--special-color);
}

.section-register {

}

.door {
    width: 250px;
    height: 450px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--special-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, -50%);
    z-index: 0;
    transition: all .7s;
}

.door.login  {
    transform: translate(-105%, -50%);
}